// Fonts
$handwriting: 'Caveat', cursive;
$eight-bit: 'Press Start 2P', cursive;
$heading: 'Bebas Neue', cursive;
$body: 'Roboto', sans-serif;

// Colors
$black: rgb(0, 0, 0);
$green: rgb(131, 248, 94);
$light-blue: rgb(158, 250, 235);
$blue: rgb(35, 95, 205);
$white: rgb(235, 235, 235);